# Environment Variables

# API Base URL - Backend server URL for the AI Screen Builder API
# Example: https://api.yourserver.com or http://localhost:3001
VITE_API_URL=http://localhost:5010
VITE_API_CONTEXT_PATH =dev
VITE_SUBSCRIBER_ID=5beaabd82ac6767c86dc313c
VITE_LIBERTY_FS_BASE_URL=
